<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/global.css">
    <script src="js/global.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/Mango.js"></script>
    <link rel="stylesheet" href="schedule.css">
    <title>进度图</title>
</head>

<body>
    <div id="app" name="app" style="background-color:white;">
        <div class="schedule_content">
            <div class="container" v-for="groupItem in ScheduleImgs">
                <div class="schedule_item_title">
                    <div class="container" style="padding:0px; margin:0px;">
                        <span class="pull-left" v-html="groupItem[0].UploadTime"></span><span class="pull-right">共{{groupItem.length}}张</span>
                    </div>
                </div>
                <div v-for="item in groupItem">
                    <a href="javascript:void(0);" v-on:click="HandleImage(item)">
                        <div class="schedule_item">
                            <div class="schedule_item_img">

                                <img v-bind:src="item.Thumbnail">

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="schedule_img_show" v-show="IsScheduleShow" v-on:click="HandleImage('')">
            <img v-bind:src="CurrentImage.File.FilePath">
            <div v-html="CurrentImage.Description"></div>
        </div>
        <!--没有数据时-->
        <div v-show="IsScheduleData" class="schedule_data_error">
            <img src="Assets/data_error.svg" height="100px" width="100px">
            <h3>没有查询到相应的进度图</h3>
        </div>
    </div>
    <script src="js/underscore.js"></script>
    <script src="js/vue.js"></script>
    <script src="schedule.js"></script>
</body>

</html>