.orgDetail {}

.orgDetail_tip {
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    position: static;
    float: none;
}

.user_info {
    height: 50px;
    line-height: 50px;
    background-color: White;
    border-bottom: 1px solid #ccc;
}

.user_info_avatar {
    height: 20px;
    line-height: 50px;
    margin-right: 20px;
}

.user_info_edit {
    height: 28px;
    line-height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.org_info {
    height: 50px;
    line-height: 50px;
    background-color: White;
    border-bottom: 1px solid #ccc;
}

.role_info {
    height: 50px;
    line-height: 50px;
    background-color: White;
    border-bottom: 1px solid #ccc;
}